*.iml
.gradle
/local.properties
/node_modules
/dist
/.deploy-temp
/.dev-env
*.tsbuildinfo
vite.config.js
vite.config.d.ts
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
app/build
.DS_Store
